*.tlog
*.log
*.ipch
*.pdb
*.idb
*.obj
*.manifest
*.tlh
*.tli

*.lib
*.pch
*.lastbuildstate
*.res
*.exp
*.ilk
*_manifest.rc
*.unsuccessfulbuild
*.opensdf
*.cd
*.htm
*.scc
*.ncb
*.plg
*.opt
*.rar
*.zip
*.suo
*.sdf
*.cache
*.bsc
*.ocx
*.sbr
*.trg
*.rtw
*.DPbcd
*.out
*.backup
*.bak
*.slb
*.aps
.settings
.vc
ipch
.db
.opendb